<!DOCTYPE html>
<html lang='en' class='notranslate' translate='no'>
      <head>
        <meta name='google' content='notranslate' />
        <meta http-equiv='Content-Language' content='en' />
        <meta charset='UTF-8'>
        <meta name='description' content="A realtime application to monitor Bus ETAs via LTA's API. Uses Redis, Nodejs and SocketIO.">
        <meta name='keywords' content='JavaScript,Redis,Nodejs,SocketIO,Realtime'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>SG Bus Routes</title>
        <meta name='msapplication-TileColor' content='#ffffff' />
        <meta name='theme-color' content='#ffffff' />
        <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
        <meta name='apple-mobile-web-app-capable' content='yes' />
        <meta name='mobile-web-app-capable' content='yes' />
        <meta name='HandheldFriendly' content='True' />
        <meta name='MobileOptimized' content='320' />
        <link rel="stylesheet" href="css/leaflet-1.3.1.css" />
        <script type="text/javascript" src="js/leaflet-1.3.1.js"></script>
        <script type="text/javascript" src="js/leaflet.polyline.offset.js"></script>
        <link rel="stylesheet" href="css/bootstrap-4.5.2.min.css" />
        <link rel="stylesheet" href="css/custom.css" />
    </head>
  <body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
	<div class="container">
    <div class="map-container">
      <div class="map-frame">
        <div id="map-id" class="row"><!-- map -->
          <!-- <div class="col-sm-7"></div> -->
            <div id="sidebar" class="col-sm-5"><!-- sidebar -->
              <a class="card-link" data-toggle="collapse" data-target="#sidebar-wrapper">
                <span id="toggle-sidebar-btn" class="btn btn-secondary btn-sm rounded-circle pr-3 pl-3"><big><strong>☰</strong></big></span>
              </a> <!-- class="badge badge-secondary rounded-circle" -->
              <div id="sidebar-wrapper" class="collapse show">
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item rounded-0">
                    <a class="nav-link rounded-0 active" data-toggle="pill" href="#bus_services_tab"><svg class="icon icon-bus"><use xlink:href="symbol-defs.svg#icon-bus"></use></svg> <span class='ascii_chars'>ᴮᵘˢᵉˢ</span></a>
                  </li>
                  <li class="nav-item rounded-0">
                    <a id="service_route_details_pill" class="nav-link rounded-0" data-toggle="pill" href="#service_route_details_tab"><svg class="icon icon-road"><use xlink:href="symbol-defs.svg#icon-road"></use></svg> <span class='ascii_chars'>ᴿᵒᵘᵗᵉ</span></a>
                  </li>
                  <li class="nav-item rounded-0">
                    <a id="displayed_bus_route_details_pill" class="nav-link rounded-0" data-toggle="pill" href="#displayed_bus_route_details_tab"><svg class="icon icon-route"><use xlink:href="symbol-defs.svg#icon-route"></use></svg> <span class='ascii_chars'>ᴾᵃᵗʰ</span></a>
                  </li>
                  <li class="nav-item rounded-0">
                    <a id="bus_eta_details_pill" class="nav-link rounded-0" data-toggle="pill" href="#bus_eta_details_tab"><svg class="icon icon-bus-eta"><use xlink:href="symbol-defs.svg#icon-bus-eta"></use></svg> <span class='ascii_chars'>ꭼꭲꭺ</span></a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="bus_services_tab" class="tab-pane active">
                    <div class="card rounded-0">
                      <div class="card-header">
                        <h6><a class="card-link w-100">
                        <div class="form-check-inline w-100"><span>🔍</span>&nbsp;&nbsp;<input class="form-control form-control-md rounded-25" id="search_bus_stop" type="text" placeholder="Enter Bus Service or Bus Stop No. here…"/>&nbsp;&nbsp;<button id="search_bus_stop_clear" type="button" class="btn btn-outline-danger btn-sm rounded-circle pr-2 pl-2 pt-0 pb-0"><big><strong>×</strong></big></button></div>
                        </a></h6>
                      </div>
                      <div id="bus_services" class="w-100">
                        <div class="text-center"><div class="spinner-border"></div></div>
                      </div>
                    </div>
                  </div>
                  <div id="service_route_details_tab" class="tab-pane fade">
                    <div id="service_route_details" class="card rounded-0"></div>
                  </div>
                  <div id="displayed_bus_route_details_tab" class="tab-pane fade">
                    <div id="displayed_bus_route_details" class="card rounded-0"></div>
                  </div>
                  <div id="bus_eta_details_tab" class="tab-pane fade">
                    <div class="card-header">
                      <h6 class="pt-2 pb-2"><a id="bus_etas_title" class="card-link w-100"></a></h6>
                    </div>
                    <div id="bus_etas" class="card rounded-0"></div>
                  </div>
                </div><!-- //tab-content -->
              </div><!-- //sidebar-wrapper -->
            </div><!-- //sidebar -->
          </div><!-- //map -->
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="js/popper-1.16.0.min.js"></script>
  <script type="text/javascript" src="js/bootstrap-4.5.2.min.js"></script>
  <script defer type="text/javascript" src="js/svgxuse.js"></script>
  <script type="text/javascript" src="js/socket.io.js"></script>
  <script type="text/javascript" src="js/sg_bus_routes.js"></script>
</body>